.company-card{
  align-items: initial;
  border-style: outset;
}

.card-header{
display: flex;
justify-content: space-between;
align-content: flex-start;
width: 100%;
}

.card-text{
  justify-content: flex-start;
}